@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    height: 98vh;
    background: linear-gradient(to bottom, rgb(12, 13, 14), #0e0e0e81), url(imagens/MOCKUP\ 3D.jpg);
    background-position: center center;
    background-size: cover;
    /* background-size: 1400px 750px; */
    background-repeat: no-repeat;

}

header {
    width: 100%;
    height: 6vh;
    background-color: rgba(22, 22, 22, 0.2);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
    min-height: 100px;

}

/* header {
    width: 100%;
    height: 6vh;
    background-color: rgba(22, 22, 22, 0.2);
    margin: 0 auto;
    padding: 0 4%;
    min-height: 150px;
    padding-top: 40px;

} */

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7em;
}

.logo {
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 25px;
    font-size: 1.4em;
    letter-spacing: 0.3em;
    text-align: center;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;

}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 8px;
    left: 0px;
    width: 0px;
    height: 1px;
    color: white;
    background-color: #F08503;
    transition: all 0.7s ease;
}

#sub {
    color: #ED8800;
    margin-left: 10px;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

main {
    padding-top: 10px;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    min-width: 400px;
    max-width: 700px;
}


/* Textos conteudo principal */

.frase1 {
    text-align: center;
    width: 850px;
    font-size: 5rem;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

.frase2 {
    text-align: center;
    margin-bottom: 3em;
    padding-top: 10px;
    font-size: 2em;
    color: rgb(179, 179, 179);
    font-weight: bold;
    text-transform: uppercase;
}

/* Botões */


.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: bottom;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: #F58E03;
    font-weight: bold;
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 0.5s;
}

.btns button:hover:before {
    width: 100%;
}



.icons {
    display: flex;
    list-style: none;
}

.icons li {
    margin: 0 10px;
}

.icons li a {
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.3s ease;
}


#insta a:hover {
    background-image: linear-gradient(to right, #3198E2, #6D59C0, #B93590, #E33F5F, #FDD579);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

#whats a:hover {
    background-image: linear-gradient(to bottom, #0edf7acb, #07884a);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}